.px-common {
  padding-left: 6rem;
  padding-right: 6rem;
}

.ml-4rem {
  margin-left: 6rem;
}

.w-full {
  width: 100%;
}

.mt-half {
  margin-top: 0.5rem;
}

body {
  background-color: white;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
